html{
    font-family: Zen Kurenaido;
}

body{
    background-color: #f0fdf5;
}

#profile-layout {
display: grid;
grid-template-columns: 1fr 3fr; /* 1:3で分割 */
gap: 30px;
min-height: 100vh; /* 画面いっぱいの高さにする */
}

main{
    background-color: white;
    border: 2px solid #166534;
    padding: 20px;
    margin: 10px;
}

#content{
    background-color: white;
    border: 2px solid #166534;
    padding: 20px;
    margin: 10px;
}

h1{
    color: #166534;
}